<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311920338798-vr0c3n59l6i4u7fs4qcsibleheul2iv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311920338798-vr0c3n59l6i4u7fs4qcsibleheul2iv6</string>
	<key>API_KEY</key>
	<string>AIzaSyCbqy950Iv03jmvqgvwWlT20JQRq-tAdiU</string>
	<key>GCM_SENDER_ID</key>
	<string>311920338798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Choi.MealChoi</string>
	<key>PROJECT_ID</key>
	<string>mealchoi-db</string>
	<key>STORAGE_BUCKET</key>
	<string>mealchoi-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311920338798:ios:72e30c325b856ce937c37f</string>
</dict>
</plist>